<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Godzila-chat</title>
</head>
<body>
    <style>
    #footer {
        position: fixed; /* Фиксированное положение */
        left: 0; bottom: 0; /* Левый нижний угол */
        padding: 10px; /* Поля вокруг текста */
        color: rgb(18, 17, 17); /* Цвет текста */
        width: 100%; /* Ширина слоя */
    }
    body {
        background-image: url("https://cdn.wallpapersafari.com/9/83/UFS8Ie.jpg");
        background-attachment: fixed;
    }
    .q {
        margin-left: auto;
        margin-right: auto;
        width: 6em   
    }
    </style>
    <div class="q">
        {% for i in sms %}
        <img src="{{ i.img }}" width="250" height="250">
        <h1 style="color:rgb(241, 211, 15);">{{ i.text }}</h1>
        {% endfor %}
    </div>
    <div id="footer" class="mb-4">
        <form method="post" enctype="multipart/form-data">
            <input type="text" name="text" class=""><br>
            <input type="file" name="image" accept=".png, .jpg, .jpeg, .gif" class=""><br>
            <input type="submit" value="Send" class="btn btn-success" >
        </form>
    </div>
</body>
</html>